export(auc_curve)
export(compare_survival_methods)
export(conticox_cv)
export(conticox_cv_test)
export(conticox_fit)
export(enetcox_cv)
export(enetcox_cv_test)
export(integrated_auc)
export(partialcox_cv)
export(partialcox_cv_test)
export(partialcox_fit)
export(penalizedcox_cv)
export(penalizedcox_cv_test)
export(plsdr_cv)
export(plsdr_cv_test)
export(plsdr_fit)
export(ridgecox_cv)
export(ridgecox_cv_test)
import(glmnet)
import(pls)
import(RSpectra)
import(survival)
importFrom(stats,approx)
importFrom(stats,as.formula)
importFrom(stats,coef)
importFrom(stats,na.exclude)
importFrom(stats,prcomp)
importFrom(stats,predict)
importFrom(stats,quantile)
importFrom(stats,residuals)
importFrom(stats,var)
importFrom(utils,getS3method)
